*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

html, body, header, main, footer{
	width: 100%;	
}

body{
	height: 100%;
}

header, footer{
	height: 10%;
}

main{
	height: 80%;
	margin: 0 15px;
	overflow-x: auto; 
}

div{
	
}

.principal{

}

.krdxRow{
	width: 114%;
	float: left;
	overflow-x: auto;	
}